/* App.css */

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 30px;
}

nav button {
  background-color: #667acf;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #a0a9d0;
}

nav button:focus {
  outline: none;
  box-shadow: 0 0 5px #667acf;
}

.content {
  margin-top: 20px;
  padding: 20px;
}
